
.schedule{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-rose);
    overflow: hidden;
    padding-top: 3rem;
}

.schedule button{
    background-color: var(--color-creamy);
    border: 0;
    padding: 1rem;
    text-align: center;
    font-family: 'Quatro';
    font-size: 1.2rem;
    width: 190px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-bottom: 3rem;
}

.schedule-title{
    text-align: center;
}

.schedule-title span{
    color: white;
    font-weight: bold;
}

.schedule p{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.schedule-images{
    width: 80%;
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.schedule-image-container{
    height: 380px;
    padding: 0.5rem 0.5rem;
    background-color: white;
    max-width: 300px;
    overflow: hidden;
    margin: 0 auto;
    justify-content: space-around;
}

.schedule-image-container img{
    width: 100%;
    height: 75%;
    overflow: hidden;
    margin: 0 auto;
    object-fit: cover;
}

@media (min-width: 1024px){
    .schedule-images{
        flex-direction: row;
        flex-wrap: wrap;
    }
}