

.staff-card-container{
    display: flex;
    flex-direction: column;
    background-color: var(--color-creamy);
    width: 95%;
    margin: 0 auto;
    border-top-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    overflow: hidden;
    max-width: 380px;
    justify-items: center;
    align-items: center;
    padding-top: 2rem;
}

.img-container{
    width: 250px;
    height: 250px;
    clip-path: circle();
    object-fit: cover;
    margin: 0 auto;
}

.name-staff{
    font-family: 'Lora';
    font-size: 1.5rem;
}

.name-staff-subtitle{
    font-family: 'Lora';
    font-size: 1.2rem;
    margin-bottom: 1rem;
}