

.about-texts-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin: 3rem auto;
}

.about-texts-container div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0.5rem;
}

.about-colibri-icon{
    width: 30px;
    margin-bottom: 0.5rem;
}

.about-texts-container img:nth-child(1){
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
}

.about-container span{
    color: var(--color-rose);
    font-weight: bold;
}



.about-circles-container{
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.about-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 210px;
    height: 210px;
    border: 1px solid var(--color-rose);
}

.about-circles-container p {
    font-size: 1.5rem;
    font-family: 'Quatro';
    text-align: center;
}

.circles-bottom{
    display: flex;
    flex-direction: row;
    margin-top: -5rem;
}

.circles-bottom div:nth-child(1){
    left: 1rem;
}

.circles-bottom div:nth-child(2){
    margin-left: -2rem;
}

@media (max-width:395px ) {
    .about-circle{
    width: 200px;
    height: 200px;
    }
}

@media (max-width: 375px) {
    .about-circle{
    width: 180px;
    height: 180px;
    }
}


@media (max-width: 425px ){
    .about-circle{
    width: 220px;
    height: 220px;
    }    
}

@media (min-width: 768px){
    .about-circle{
    width: 320px;
    height: 320px;
    }

    .circles-bottom{
    display: flex;
    flex-direction: row;
    margin-top: -8rem;
    }

    .circles-bottom div:nth-child(1){
        left: 4rem;
    }

    .circles-bottom div:nth-child(2){
        margin-left: -4rem;
    }
}

@media (min-width: 1024px){
    .about-circle{
    width: 480px;
    height: 480px;
    }

    .about-circles-container p {
    font-size: 2.5rem;
    }

    
}