.page-services-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;
    gap: 2rem;
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.service-min{
    width: 90%;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.service-min-img{
    width: 30%;
    height: 120px;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    object-fit: cover;
}

.title-services{
    margin: 2rem 2rem;
}

.services-detail-container{
    width: 95%;
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.service-title-min{
    font-family: 'Quatro';
    font-weight: bold;
    font-size: 1.2rem;
}

@media(max-width: 1228px){
    .page-services-container{
        display: row;
        flex-wrap: wrap;
    }
}

@media(min-width: 1024px){
    .services-detail-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}