:root{
  --color-creamy: #FFF4DE;
  --color-mustard: #BE881E;
  --color-rose: #FF0066;
}

a{
  text-decoration: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  -webkit-user-select: none;
  user-select: none;  
  -webkit-touch-callout: none;
}

button:active {
  transform: scale(0.98);
  opacity: 0.8;
}


.title{
    font-family: 'Quatro';
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
}

.title span {
  color: var(--color-rose);
}

.title-white{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: 'Quatro';
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;  
}

.title-white span{
  color: var(--color-creamy);
}

.paragraph{
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Lora';
}

*{
  margin: 0;
}

body{
  background-color: var(--color-creamy);
}

@font-face {
  font-family: 'Cinzel';
  src: url('../src/assets/fonts/Cinzel/Cinzel-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: ('../src/assets/fonts/Lora/Lora-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quatro';
  src: url('../src/assets/fonts/Quatro/Quattrocento-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


.subtitle {
  font-size: 2rem;
  font-family: 'Quatro';
  text-transform: uppercase;
}

.paragraphs {
  font-size: 1.2rem;
}

@media (min-width: 1024px){
.title{
  font-size: 2.5rem;
}

.title-white{
  font-size: 2.5rem;
}

.subtitle {
  font-size: 3rem;
  font-family: 'Quatro';
}

.paragraph {
  font-size: 1.5rem;
}

}

