.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 440px;
}

.card-container{
    width: 100%;
    overflow: hidden;
    z-index: 20;
    height: 450px;
    position: relative;
    margin-bottom: 1rem;
    left: 1.2rem;
}


.portrait-image{
    width: 80%;
    height: 420px;
    top:2rem;
    left: 1.4rem;
    z-index: 0;
    position: absolute;
    object-fit: cover;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;

}


.frame{
    width: 80%;
    height: 400px;
    border: solid 4px var(--color-rose);
    position: absolute;
    z-index: -10;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.card-title{
    text-align: center;
    font-family: 'Quatro';
    font-weight:   900;
}

.card button{
    background-color: rgba(204, 102, 139, .30);
    border: 0;
    padding: 1rem;
    text-align: center;
    font-family: 'Quatro';
    font-size: 1.2rem;
    width: 190px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.card-arrow{
    font-size: 2.2rem;
}

